
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 40px;
}
.rel{
    text-align: center;
}
.rel #imagem{
    text-align: center;
    max-width: 500px;
    display: flex;
    max-height: 250px;
    margin: auto;
    overflow: hidden;
}
.rel #imagem img{
    border-radius: 8px;
    max-width: 500px;
}
.rel h1{
    font-size: 32px;
    letter-spacing: -1px;
}
.relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    gap: 20px;    
}
.relogio div{
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #F54927;
    border-radius: 4px;
    padding: 20px;
}
.relogio div #hr, .relogio div #min, .relogio div #seg{
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -3px;
}
.relogio .down{
    font-size: 12px;
    font-weight: normal;
    color: #8A200E;
}